# The image is built from the workspace's manifests and crates, the console's
# UI and the brand files it imports, plus the quickstart, the license and the
# README. Everything else stays out of the build context: target/, the
# results and their archives, the paper, the site, scratch data, and
# rust-toolchain.toml (see the Dockerfile).
*
!Cargo.toml
!Cargo.lock
!crates/
!console/
!brand/tokens.css
!brand/fonts/
!brand/logo/
!examples/quickstart/
!LICENSE
!README.md
**/target/
**/node_modules/
console/dist/
console/test-results/
console/playwright-report/
**/*.tar.gz
**/.env
